:root{
  --first-color: #330052;
  --second-color: #74068A;
  --third-color: #ffa30d;
  --white-color: #eee;
  --black-color: #222;
}

.App{
  min-height: 100vh;
  padding: .5rem;
}
.App h1 {
  text-align: center;
  color: var(--black-color);
  font-size: 2rem;
}
.App-info{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px){
  .App-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .formulario, .graphicCard{
    width: 90%;
  }
  .App-info{
    grid-row: 1/2;
    grid-column: 2/3;
  }
}